.section-card {
  box-sizing: border-box;
  margin: 12px;
}

.card {
  min-width: 400px;
  max-width: 600px;
  display: inline-block;
  background: red;
  border-radius: 5px;
  position: relative;
  padding: 32px;
}

.card::after,
.card::before {
  width: 200px;
  height: 200px;
  background-color: white;
  content: "";
  display: block;
  opacity: 30%;
  border-radius: 50%;
  position: absolute;
}
.card::after {
  bottom: -43%;
  right: -10%;
}
.card::before {
  top: -40%;
  right: -20%;
}
.card + .card {
  margin-left: 32px;
}
.card:nth-child(3n-2) {
  background: linear-gradient(
    90deg,
    rgba(254, 190, 152, 1) 25%,
    rgba(252, 131, 150, 1) 69%
  );
}
.card:nth-child(3n-1) {
  background: linear-gradient(
    90deg,
    rgba(134, 197, 244, 1) 1%,
    rgba(21, 143, 226, 1) 69%
  );
}

.card:nth-child(3n-3) {
  background: linear-gradient(
    90deg,
    rgba(121, 216, 208, 1) 0%,
    rgba(0, 207, 184, 1) 73%
  );
}
.class-content {
  color: white;
}
.card-header {
  font-size: 1.5em;

  position: relative;
}
.current-result {
  font-size: 2em;
  margin: 24px 0px;
}
.current-statistic {
  font-size: 1.2em;
  margin-top: 32px;
}
.icon-class {
}
